
<div class="container">
  <% @articulo.each do |articulo| %>
  <div class="card mb-3 shadow mb-5 bg-white rounded" style="max-width">
    <div class="row no-gutters">
      <div class="col-md-4">
        <h1 class = "text-align-left"><%= image_tag(url_for(articulo.image_element), :size => "300x200") %></h1>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-center"><%= articulo.titulo %></h5>
          <p class="card-text text-center"><%= articulo.cuerpo.truncate(100) %></p>
          <p class="card-text text-center"><%= articulo.user.nombredeusuario %></p>
          <p class="card-text text-center"><small class="text-muted">Creado hace <%= time_ago_in_words(articulo.updated_at) %></small></p>
          <h6 class= "text-center"><%= link_to "Leer mas", articulo_path(articulo), class: "btn btn-success btn-lg " %></h6>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
